*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
}

.nav-items {
  display: flex;
  gap: 20px;
  background-color: #3a1816;
  width: 100%;
  padding-right: 120px;
  justify-content: flex-end;
  padding-top: 60px;
}

.logo {
  background-image: url('./images/icon.png');
  background-repeat: no-repeat;
  background-color: #3a1816;
}

li {
  font-size: 28px;
  color: white;
  display: inline;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 28px;
}

li a:hover {
  color: #9b1818fb;
}

.main {
  padding: 30px;
  justify-content: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2em;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 800ms ease-in;
}

.items:hover {
  transform: scale(1.09);
}
